.contentTitleUpdate {
     background-color: #281c3a;
     padding: 50px 0;
}

ul.contentTabs {
     display: inline-flex;
     padding-left: 0px;
}

ul.contentTabs li {
     font-size: 20px;
     margin-right: 20px;
     text-transform: uppercase;
     margin-bottom: 20px;

}

button.tocatalog {
     height: 56px;
     width: 160px;
}