img.logonoemie {
     width: 100px;
     object-fit: contain;
}



a.nav-link {
     font-size: 18px;
     font-family: 'Open Sans', sans-serif;
     color: white;
}

Navbar .container-header {
     background-color: #281c3a;
}

button.btn.btn-outline-success {
     background-color: #3bb695;
     color: white;
}

a.nav-link:hover, a.nav-link:hover {
     color: #3bb695;
}